:root{
    --NAVYBLUE: #2E2F42;
    --white: #FFFFFF;
    --iris: #4D5AE5;
    --slate: #434455;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --bly: #404BBF;
    }

body{
font-family: 'Roboto', sans-serif;
}

.subject{
background: var(--white);
}



.logo{
font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--iris);
text-decoration: none;
}

.logo-link{
display: block;
font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--NAVYBLUE);
text-decoration: none;
}

.list{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--NAVYBLUE);
}

.list-studio{
text-decoration: none;
list-style-type: none;
}

.list-studio:hover,
.list-studio:focus{
color: var(--slate);
}

.list-studio:active{
color: var(--iris);
}

.list-portfolio{
text-decoration: none;  
}

.list-portfolio:hover,
.list-portfolio:focus{
color: var(--slate);
}

.list-portfolio:active{
color: var(--iris);
}

.list-contacts{
text-decoration: none;  
}

.list-contacts:hover,
.list-contacts:focus{
color: var(--slate);
}

.list-contacts:active{
color: var(--iris);
}

.mail{
font-size: 16px;
line-height: 1.5;
color: var(--slate);
text-decoration: none;
}

.mail:hover,
.mail:focus{
color: var(--slate);
}

.tel{
font-size: 16px;
line-height: 1.5;
color: var(--slate);
text-decoration: none;
}

.tel:hover,
.tel:focus{
color: var(--slate);
}

.heroy{
background: var(--NAVYBLUE);
}

.title{
background: var(--NAVYBLUE);
font-weight: 600;
font-size: 56px;
line-height: 1;
color: var(--white);
}

.button{
background: var(--iris);
font-family: 'Roboto';
font-weight: 600;
font-size: 16px;
line-height: 1.2;
color: var(--white);
cursor: pointer;
}

.button:hover,
.button:focus{
color: var(--iris);
}

.button:active{
color: var(--bly);
}

.item{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: var(--NAVYBLUE);
}

.items{
font-size: 16px;
line-height: 1.5;
color: var(--slate);
}

.work{
font-weight: 600;
font-size: 36px;
line-height: 1.1;
color: var(--NAVYBLUE);
}

.we{
background: var(--CLOUD);
}

.comanda{
font-weight: 600;
font-size: 36px;
line-height: 1.1;
color: var(--NAVYBLUE);  
}

.comanda-we{
background: var(--white);
}

.name{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: var(--NAVYBLUE);
}

.slogan{
font-size: 16px;
line-height: 1.5;
color: var(--slate); 
}

.footer{
background: var(--NAVYBLUE);
}

.logo-links{
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.2;
color: var(--CLOUD);
text-decoration: none; 
}

.text{
font-size: 16px;
line-height: 1.5;
color: var(--CORNFLOWER);   
}


.body{
font-family: 'Roboto', sans-serif; 
}

.header-list{
background: var(--white);
font-style: normal;
}

.logos{
font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--iris);
text-decoration: none;
}

.logo-type{
display: block;
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--NAVYBLUE);
text-decoration: none;
}

.link{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--NAVYBLUE);
text-decoration: none;
}

.link:hover,
.link:focus{
color: var(--slate);
}

.link:active{
color: var(--iris);
}

.e-mail{
font-size: 16px;
line-height: 1.5;
color: var(--slate);
text-decoration: none;
}

.e-mail:hover,
.e-mail:focus{
color: var(--slate);
}

.phone{
font-size: 16px;
line-height: 1.5;
color: var(--slate);  
text-decoration: none;
}

.phone:hover,
.phone:focus{
color: var(--slate);
}

.btn-all{
background: var(--iris);
font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--white);
cursor: pointer;
}

.btn-all:hover,
.btn-all:focus{
color: var(--iris);
}

.btn-all:active{
color: var(--bly);
}

.btn{
background: var(--CLOUD);
font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--iris);
cursor: pointer;
}

.btn:hover,
.btn:focus{
color: var(--iris);
}

.btn:active{
color: var(--bly);
}

.content{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: var(--NAVYBLUE);
}

.text-item{
font-size: 16px;
line-height: 1.5;
color: var(--slate);
}

.footer-list{
background: var(--NAVYBLUE);
}

.logo-web{
font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.2;
color: var(--iris);
text-decoration: none;
}

.logo-studio{
font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.2;
color: var(--CLOUD);
text-decoration: none;
}

.logo-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--CORNFLOWER); 
}

/* one page */ 

.section-page{
padding-top: 96px;
padding-bottom: 120px;
}

.list{
    display: flex;
    margin-left: 77px; 
}

.header-list_items{
    margin-right: 40px; 
    display: block; 
    padding-top: 24px;
    padding-bottom: 24px;   
}

.header-list_items:last-child{
margin-right: 0;
}

.subject-list{
    display: flex;
    margin-left: auto;  
}

.subject-list .subject-list_item + .subject-list_item {
    margin-left: 40px;
}

.container-main_navi{
    display: flex;
    align-items: center; 
    margin-right: 156px;
    margin-left: 156px;
}

.heroy{
text-align: center;
}

.title{
    display: block;
    padding-top: 192px;
}

.button{
  display: inline-block;  
  padding: 16px 32px;
  flex-direction: row;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
margin-bottom: 192px;
margin-top: 48px;
}

.about-us{
display: flex;
justify-content: center;

}

.about-us_item{
 width: 264px;
margin-right: 24px;
}

.work{
text-align: center;
margin-top: 120px;
}

.work-list{
display: flex;
justify-content: center;
}

.work-list_item{
 margin-top: 72px;
margin-bottom: 120px;
 margin-right: 24px;
}


.comanda{
text-align: center; 
padding-top: 120px; 
}

.comanda-list{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.comanda-we{
margin-right: 24px;
margin-top: 72px;
margin-bottom: 120px;
}




.footer-logo_links{
 width: 264px;
display: flex;
flex-wrap: wrap; 
padding-top: 100px;
margin-left: 156px;
}

.text{
margin-top: 16px;
padding-bottom: 100px;
}





/* two page */

.header-list{
display: flex;
margin-left: 77px;
}

.heder-list_item{
  margin-right: 40px; 
  display: block; 
  padding-top: 24px;
  padding-bottom: 24px;
}

.heder-list_item:last-child{
margin-right: 0;
}

.header-listt{
    display: flex;
    margin-left: auto;
}

.header-listt .heder-listt_item + .heder-listt_item {
margin-left: 40px;
} 

.container-main_nav{
display: flex;
align-items: center;
margin-left: 156px;
margin-right: 156px;
}

.container{
width: 1440px;
padding: 0 15px;
margin: 0  auto;
}

.portfolio-btn_list{
display: flex;
justify-content: center;
 gap: 24px;
 margin-top: 96px;
margin-bottom: 72px;
}

.portfolio-btn_item{

}

.portfolio-btn{
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 24px;
}

.portfolio-cards_list{
display: flex;
justify-content: center;
column-gap: 24px;
row-gap: 48px;
flex-wrap: wrap;
}

.portfolio-cards_item{
width: 360px;
margin-right: 24px;
margin-bottom: 48px;
background: var(--CLOUD);
}

.portfolio-cards_item:nth-last-child(-n + 3){
margin-bottom: 120px;
}



/*.portfolio-cards_item{
    flex-basis: calc ( (100% - 2 * 24px) / 3);  
    }*/



.portfolio-cards_box{
padding: 32px 16px;
}

.footer-logo_box{
    width: 264px;
    display: flex;
    flex-wrap: wrap; 
padding-top: 100px;
margin-left: 156px;
}

.logo-studio

.logo-text{ 
margin-top: 16px;
padding-bottom: 100px;
}

